{% extends "index.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div id="allBody">
                <div class="register-logo">
                    <b>Create Client</b>
                </div>
                <div class="card">
                    <div class="card-body register-card-body">
                        <p class="login-box-msg">New Client</p>
                        <form @submit.prevent="createClient()">
                            Name
                            <div class="input-group mb-8">
                                <input type="text" class="form-control" placeholder="Name Client " v-model="data.name"
                                    required>
                            </div>
                            Phone
                            <div class="input-group mb-8">
                                <input type="text" class="form-control" placeholder="Phone Client" v-model="data.phone"
                                    required>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block">Create Register</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block" @click="listRegister()">List Registers</button>
                    </div>
                </div>
                <!-- /.form-box -->
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

</div>
<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/vue/vue.js"></script>
<!-- SweetAlert2 -->
<script src="/static/plugins/sweetalert2/sweetalert2.all.min.js" type="text/javascript"></script>
<!--Own JS -->
<script src="/static/plugins/soso/request.js"></script>
<script src="/static/plugins/soso/show_alert.js"></script>
<script>
    clientCreate = new Vue({
        delimiters: ['${', '}$'],
        el: '#allBody',
        mounted() {
        },
        data() {
            return {
                data: {
                    name: "",
                    phone: "",
                },
            }
        },
        methods: {
            createClient: async function () {
                let data = JSON.stringify(this.data)
                console.log(data);
                let url = `/api/client/new/`;
                let response = await request_post(url, data);
                let responseAsJson = await response.json();
                if (response.ok) {
                    result = await show_message("success", "Register Succesfully")
                    if (result.value == true) {
                        window.location.replace("/client/list/")
                    }
                }
            },
            listRegister() {
                url = "/client/list/"
                window.location.replace(url)
            },
        }

    })
</script>
{% endblock %}